@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Optional: To hide the scrollbar until the max-height is surpassed
  in webkit browsers (Chrome, Safari, etc.)
*/
::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width of the scrollbar */
  background-color: transparent; /* Change the background color */
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem; /* Add rounded corners to the thumb */
  background-color: #a0aec0; /* Change the thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Change the thumb color on hover */
}
