@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Rubik:wght@600&family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* display: flex;
  height: 100%;
  width: 100%; */
  font-family: "Source Sans Pro", sans-serif;
}

header {
  font-family: "Rubik", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Optional: To hide the scrollbar until the max-height is surpassed
  in webkit browsers (Chrome, Safari, etc.)
*/
::-webkit-scrollbar {
  width: 0.4rem; /* Adjust the width of the scrollbar */
  background-color: transparent; /* Change the background color */
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem; /* Add rounded corners to the thumb */
  background-color: rgb(163 163 163); /* Change the thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Change the thumb color on hover */
}
